header, footer{
    background-color: #008001;
}

.bg-green{
    background-color: #008001;
}
.bg-green:hover{
    background-color: #026302;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
    overflow-x: hidden;
}

main{
    margin-bottom: 100px;
}

.btn-inscription{
    border:1px;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
}